:root {
    --dark-green: #4D5F32;
    --darker-green: #303F1F;
    --fancy-font: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
}

* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color: #ffffff;
}

ul {
    list-style: none;
}

/* -----------------hero styling----------------- */
.hero-content {
  height: 770px;
  background-size: cover;
  background-image: url("../images/carousel1-min.jpg");
  background-repeat: no-repeat;
  background-position: center 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-text h1{
  color: #EDEDED;
  font-family: var(--fancy-font);
  font-size: 64px;
  font-weight: 300;
  margin-top: 12px;
  text-align: center;
  background: rgba(0,0,0,0.5);
  padding-bottom: 35px;
  margin-left: 80px;
  margin-right: 80px;
}

.hero-btn {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.btn-green {
  font-size: 20px;
  background-color: #4D5F32;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 40px;
}

.btn-green:hover{
  color: #FFFFFF;
  background-color: #344123;
  cursor: pointer;
}



/* -----------------cookie popup styling----------------- */
.cookiewrapper{
  position: absolute;
  bottom: 30px;
  left: 2%;
  max-width: 365px;
  background: #fff;
  padding: 25px 25px 30px 25px;
  border-radius: 15px;
  box-shadow: 1px 7px 14px -5px rgba(0,0,0,0.15);
  text-align: center;
	z-index: 100;
}

.cookiewrapper.hide{
  opacity: 0;
  pointer-events: none;
  transform: scale(0.8);
  transition: all 0.3s ease;
}

::selection{
  color: #fff;
  background: #FCBA7F;
}

.cookiewrapper img{
  max-width: 90px;
}

.cookiecontent header{
  font-size: 25px;
  font-weight: 600;
}
.cookiecontent{
  margin-top: 10px;
}
.cookiecontent p{
  color: #858585;
  margin: 5px 0 20px 0;
}
.cookiecontent .cookiebtn{
  display: flex;
  align-items: center;
  justify-content: center;
}
.cookiebtn button{
  padding: 10px 20px;
  border: none;
  outline: none;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
  background: #FCBA7F;
  cursor: pointer;
  transition: all 0.3s ease;
}
.cookiebtn button:hover{
  transform: scale(0.97);
}
.cookiebtn .item{
  margin: 0 10px;
}
.cookiebtn a{
  color: #FCBA7F;
}

/* -----------------customer testimonial slider styling----------------- */
.carcontainer {
	width: 100%;
	margin: 0px auto;
}

.carousel {
	border: 2px;
	height: 400px;
	position: relative;
	overflow: hidden;
}

.carslider {
	height: 100%;
	display: flex;
	width: 400%;
	transition: all 0.3s;
}

.carslider section {
	flex-basis: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--dark-green);
}

.controls .arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
}

.controls .arrow i {
	font-size: 40px;
	color: #fff;
}

.arrow.left {
	left: 10px;
}

.arrow.right {
	right: 10px;
}

.controls ul {
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translate(-50%);
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
}

.controls ul li {
	width: 14px;
	height: 14px;
	border: 2px solid #fff;
	border-radius: 50px;
	margin: 10px;
	background: #fff;
	cursor: pointer;
}

.controls ul li.selected {
	background: transparent;
}

.carslider section img {
	height: 50px;
	width: 50px;
	display: block;
	margin-bottom: 15px;
	margin-top: -50px;
}

.carslider section .ctest {
	font-style: italic;
  font-family: var(--fancy-font);
	color: #fff;
}

.carslider section .club{
	font-size: 35px;
  font-family: var(--fancy-font);
	color: #fff;
	margin-bottom: 5px;
	
}

.carslider section .location{
	font-size: 25px;
  font-family: var(--fancy-font);
	color: #fff;
	font-style: italic;
  margin-bottom: 10px;
}

.carslider section p {
	font-size: 18px;
  font-family: var(--fancy-font);
	color: #fff;
  margin: 0 200px 10px;
	text-align: center;
}

.carslider section .longtest {
  font-size: 15px;
}

.carslider section .name {
	font-size: 17px;
  font-family: var(--fancy-font);
	color: #fff;
	font-weight: bold;
	margin-bottom: 5px;
}

.carslider section .job {
	font-size: 17px;
  font-family: var(--fancy-font);
	color: #fff;
	font-style: italic;
}

.container {
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
}

/* -----------------category section styling----------------- */
.container .category {
  font-family: var(--fancy-font);
  text-transform: uppercase;
  text-align: center;
  font-weight: lighter;
  color: #303F1F;
  margin: 30px auto;
}

.col8 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 2% 2% 50px 2%;
}

.category-column {
  width: 12.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.category-column img {
  width: 100%;
  padding: 8px;
}

.bcategory {
  border: none;
  background: #ffffff;
}

.bcategory a{
  border: none;
  background: #ffffff;
  font-size: 15px;
  color: #000000;
}

/* -----------------info section----------------- */
.two-col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 2%;

}

.col {
  width: 48%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1%;

}

.col header {
    color: #FFFFFF;
    padding-top: 13px;
    font-size: 43px;
    padding: 23px;
    font-family: var(--fancy-font);
}

.col p {
    color: #FFFFFF;
    font-size: 25px;
    padding: 23px;
    font-family: var(--fancy-font);
    
}

.col-text {
  background-color: rgb(0,0,0,0.5);
  text-align: center;
  margin-bottom: 20px;
}

.bg-1 {
  margin: 1%;
  background-image: url("../images/range-min.png");
  background-size: cover;
  background-position: center 0%;
  height: 500px;
  border-radius: 4px;
}

.bg-2 {
  margin: 1%;
  background-image: url("../images/sust-min.jpg");
  background-size: cover;
  background-position: center 0%;
  height: 500px;
  border-radius: 4px;
}

/* -----------------materials section----------------- */
.materials {
  text-align: center;
  width: 100%;
  background: var(--dark-green);
  color: white;
  padding: 15px;
  font-size: 42px;
  font-family: var(--fancy-font);
  margin: 45px 0;
  
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.card {
  color: white;
  background-size: cover;
  padding: 20rem 0 0;
  width: 48%;
  border-radius: 0.2rem;
  overflow: hidden;
  margin: 1%;
  transition: transform 500ms ease;	
}

.card:hover,
.card:focus-within{
	transform: scale(1.05);
}

.card-rino {
  background-image: url("../images/rino.jpg");
  width: 30%;
}

.card-easy {
  background-image: url("../images/easy.jpg");
  width: 30%;
}

.card-bf {
  background-image: url("../images/blackfor.jpg");
  width: 30%;
}

.card-content {
	padding: 1.5rem;
	background: linear-gradient(hsl(0 0% 0% / 0), hsl(20 0% 0% / 0.3) 20%, hsl(0 0% 0% / 1));
	
}

.card-title {
	position: relative;
	font-size: 35px;
  font-family: var(--fancy-font);
}

.card-body {
  font-family: var(--fancy-font);
  margin-bottom: 15px;
}

/* -----------------industry section----------------- */
    .col-3 {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .col-container {
      position: relative;
      width: 31%;
      margin: 10px 5px;
    }

    .col-container img {
      width: 100%;
    }

    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: .5s ease;
      background-color: var(--dark-green);
    }
    
    .col-container:hover .overlay {
      opacity: 1;
    }
    
    .overlaytext {
      color: white;
      font-size: 15px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
    }

    .industry-header {
      text-align: center;
      margin-top: 40px;
      background: var(--dark-green);
      font-size: 25px;
      padding: 15px 30px;
      color: white;
    }

    .industry {
      text-align: center;
      font-family: var(--fancy-font);
      font-style: italic;
      margin-bottom: 35px;
    }


/* -----------------image slider----------------- */
.slider-container {
  position: relative;
}

.slider-container .slider-wrapper {
  width: 100%;
  height: 70%;
  display: block;
  margin: 5rem auto;
  overflow: hidden;
  box-shadow: 1px 2px 30px rgba(0,0,0,0.562)
}

.slider-holder {
  display: grid;
  grid-template-columns: repeat(3,100%);
	height: 100%;
	animation: slide 15s ease infinite;
}

.slide,
.slide img{
  width: 100%;
  display: block;
}

#slide1,
#slide2,
#slide3 {
  background-color: var(--dark-green);
  background-position: center 0%;
  margin-bottom: 0px;
  background-size: 100% 100%;
  width: 100%;
  height: auto;
  display: block;
  background-repeat: no-repeat;
}

.slider-container .button-holder {
  position: absolute;
	bottom: 0%;
	left: 47%;
}

.slider-container .button-holder .dots {
  display: inline-block;
	height: 15px;
	width: 15px;
	border-radius: 3rem;
	background: white;
	margin: .4rem .3rem;
}

@keyframes slide{
	0%{transform:translateX(0%)}
	10%{transform:translateX(-100%)}
	20%{transform:translateX(-100%)}
	30%{transform:translateX(-100%)}
	40%{transform:translateX(-200%)}
	50%{transform:translateX(-200%)}
	60%{transform:translateX(-200%)}
	70%{transform:translateX(0%)}
	80%{transform:translateX(0%)}
	90%{transform:translateX(0%)}
	100%{transform:translateX(0%)}
}

/* -----------------product type homepage----------------- */
.product-type {
  text-align: center;
  font-size: 70px;
  font-family: var(--fancy-font);
  font-weight: bold;
  color: var(--dark-green);
  font-style: italic;
  margin-top: 35px;
  margin-bottom: -45px;

}

.product-type-header {
  font-size: 60px;
  font-family: var(--fancy-font);
  font-weight: bold;
  color: var(--dark-green);
  font-style: italic;
  margin: 2%;
  

}

.product-material {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product-type-material {
  text-align: center;
  font-size: 60px;
  font-family: var(--fancy-font);
  font-weight: 500;
  color: var(--dark-green);
  font-style: italic;
  margin-bottom: -45px;
}

.sub-header {
  text-align: center;
  margin-top: 50px;
  width: 50%;
  font-size: 17px;
}

.header-btns {
  display: flex;
  margin: 10px;
}

.btn-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.header-btns a {
  margin: 15px;
}

.col-product {
  width: 31%;
  margin: 1%;
}

.col-product:hover {
  cursor: pointer;
}

.col-product img {
  width: 100%;
}

.col-product img:hover {
  cursor: pointer;
}

.product-name {
  background: var(--dark-green);
  padding: 4px;
  margin-top: -8px;
}

.product-name:hover {
  cursor: pointer;
  background: var(--darker-green);
}

.granite {
  width: 100%;
}

/* -----------------customization section----------------- */
  .custom-margin {
    margin-top: 100px;
  }

  .custom-text {
    font-size: 30px;
  }

  .col img {
    width: 100%;
  }

  .btn-container {
    display: flex;
    justify-content: center;
  }

/* -----------------media queries----------------- */
    @media (hover) {
      .card-content{
        transform: translateY(45%);
        transition: transform 500ms ease;
        transition-delay: 100ms;
      }

      .card:hover .card-content {
        transform: translateY(0);
    }

      .card-content > *:not(.card-title) {
        opacity: 0;
        transition: opacity 500ms linear;
      }
      
      .card:hover .card-content > *:not(.card-title) {
        opacity: 1;
        transition-delay: 400ms;
      }

      .card-button {
        cursor: pointer;
        display: inline-block;
        text-decoration: none;
        color: white;
        background-color: #4D5F32;
        padding: 0.4em 1.25em;
      }
      
      .card-button:hover,
      .card-button:focus {
        background-color: #303F1F;
      }

    }

    @media screen and (max-width: 970px) {
    .wrapper .btn{
        display: block;
    }

    .wrapper .nav-links {
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 350px;
    top: 0;
    left: -100%;
    background: var(--dark-green);
    display: block;
    padding: 50px 10px;
    line-height: 50px;
    overflow-y: auto;
    box-shadow: 0px 15px 15px rgba(0,0,0,0.18);
    transition: all 0.3s ease;
  }

  /* custom scroll bar */
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #242526;
  }

  ::-webkit-scrollbar-thumb {
    background: #3A3B3C;
  }

  #menu-btn:checked ~ .nav-links{
    left: 0%;
  }

  #menu-btn:checked ~ .btn.menu-btn{
    display: none;
  }

  #close-btn:checked ~ .btn.menu-btn{
    display: block;
  }

  .nav-links li{
    margin: 15px 10px;
  }

  .nav-links li a{
    padding: 0 20px;
    display: block;
    font-size: 20px;
  }

  .nav-links .drop-menu{
    position: static;
    opacity: 1;
    top: 65px;
    visibility: visible;
    padding-left: 20px;
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    box-shadow: none;
    transition: all 0.3s ease;
  }

  #showDrop:checked ~ .drop-menu,
  #showMega:checked ~ .mega-box{
    max-height: 100%;
  }
	
  #showDropsec:checked ~ .drop-menu{
    max-height: 100%;
  }
	
  .nav-links .desktop-item{
    display: none;
  }

  .nav-links .mobile-item{
    display: block;
    color: #f2f2f2;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
  }

  .nav-links .mobile-item:hover{
    background: var(--darker-green);
  }

  .drop-menu li a{
    border-radius: 5px;
    font-size: 18px;
  }

  .mega-box{
    position: static;
    top: 65px;
    opacity: 1;
    visibility: visible;
    padding: 0 20px;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.3s ease;
  }

  .mega-box .content{
    box-shadow: none;
    flex-direction: column;
    padding: 20px 20px 0 20px;
  }

  .mega-box .content .row{
    width: 100%;
    margin-bottom: 15px;
    border-top: 1px solid rgba(255,255,255,0.08);
  }

  .mega-box .content .row:nth-child(1),
  .mega-box .content .row:nth-child(2){
    border-top: 0px;
  }

  .content .row .mega-links{
    border-left: 0px;
    padding-left: 15px;
  }

  .row .mega-links li{
    margin: 0;
  }

  .content .row header{
    font-size: 19px;
  }

  /* carousel responsiveness */
  .carslider section .club {
    font-size: 22px;
    }

    .carslider section .location {
        font-size: 13px;
    }

    .carslider section .name {
        font-size: 12px;
    }

    .carslider section .job {
        font-size: 12px;
    }

    .carslider section .longtest {
      padding-right: 0px;
      margin-right: 53px;
      margin-left: 53px;
  }
  .carslider section p {
      margin-right: 53px;
      margin-left: 53px;
  }

  /* makes cards responsive */
  .card-rino {
    width: 45%;
  }
  
  .card-easy {
    width: 45%;
  }

  .card-bf {
    width: 92%;
  }

  /* industry standard responsiveness */
  .overlaytext {
    font-size: 12px;
  }

    }

    @media (max-width: 850px) {

      /* makes category section responsive at different width */
      .category-column {
        width: 25%;
      }

      .col {
        width: 98%;
      }

    }

    @media (max-width: 767px) {
        .footer-col {
            width: 50%;
            margin-bottom: 30px;
        }

        /* makes category section responsive at different width */
        .category-column {
          width: 22%;
        }

        /* industry standard responsiveness */
        .overlaytext {
          font-size: 10px;
        }

        .slider-container .button-holder {
          left: 43%;
        }

        .header-btns a{
          font-size: 15px;
        }

    }

    @media (max-width: 574px) {
        .footer-col{
            width: 100%;
        }

        /* hide carousel, screen too small to read */
        .carcontainer {
          display: none;
        }
        
        /* makes category section responsive at small width */
        .category-column {
          width: 48%;
        }

        /* makes material header responsive */
        .materials {
          margin-top: 35px;
        }

        /* makes cards responsive */
        .card-rino {
          width: 94%;
          margin-bottom: 35px;
        }

        .card-easy {
          width: 94%;
          margin-bottom: 35px;
        }

        .card-bf {
          width: 94%;
          margin-bottom: 35px;
        }

         /* industry standard responsiveness */
        .col-container {
          width: 94%;
        }

        .overlaytext {
          font-size: 18px;
        }

        .product-type-material {
          font-size: 40px;
        }

        .sub-header {
          font-size: 15px;
          width: 80%;
        }

        .product-type-header {
          font-size: 40px;
        }

        .header-btns a{
          font-size: 12px;
        }

        .col-product {
          width: 94%;
        }


    }
  
